<div id="sidebar-list">
    <div class="sidebar-item-active">
        <i class="material-icons md-36">link</i>
        <h4>My Links</h4>
    </div>
    <div class="sidebar-item">
        <i class="material-icons md-36">explore</i>
        <h4>Explore Links</h4>
    </div>
    <div class="sidebar-item">
        <i class="material-icons md-36">whatshot</i>
        <h4>Popular Links</h4>
    </div>
    <div class="sidebar-item">
        <i class="material-icons md-36">view_list</i>
        <h4>Link Sets</h4>
    </div>
    <div class="sidebar-item">
        <i class="material-icons md-36">people</i>
        <h4>Friend's Links</h4>
    </div>
    <div class="sidebar-item">
        <i class="material-icons md-36">add_circle_outline</i>
        <h4>Create a Link</h4>
    </div>
</div>